<h1>Corsi Disponibili</h1>

<ul>
    {% for corso in corsi %}
        <li>
            {{ corso.get_info() }}
            {% if 'matricola' in session %}
                <form action="{{ url_for('iscrivi_corso', codice_corso=corso.codice) }}" method="post">
                    <button type="submit">Iscriviti a questo corso</button>
                </form>

            {% endif %}
        </li>
    {% endfor %}
</ul>





<h2>Corsi a cui sei iscritto:</h2>
<table>
  <thead>
    <tr>
      <th>Codice</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    {% for corso in corsi_iscritti %}
      <tr>
        <td>{{ corso.codice }}</td>
        <td>{{ corso.nome }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>